#gitbar {
  font-family:'HelveticaNeue', sans-serif;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  right: 20px;
  border: 1px solid #e2e2e2;
  padding: 1em;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}
#gitbar:before {
  content: '';
  position: absolute;
  left: 6px;
  top: 4px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #ff6259;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
#gitbar .gitbar-top {
  background: linear-gradient(#ebebeb, #d7d7d7);
  height: 23px;
  line-height: 1.9;
  text-align: center;
  margin: -1em -1em 1em -1em;
}
#gitbar table {
  line-height: 2;
}
#gitbar table tr td{
    position: relative;
}
#gitbar table tr td:first-child {
  padding-right: 10px;
}
#gitbar table small {
  color: #666;
  font-size: 90%;
  margin-left: 5px;
}
#gitbar .gitbar-load{
    position:absolute;
    width:10px;
    height:10px;
    border-radius:50%;
    top: 5px;
    left: 0;
    border:2px solid transparent;
    border-top-color:#d7d7d7;
    border-left-color:#d7d7d7;
    animation: loadingspinner 400ms linear infinite;
}

@keyframes loadingspinner{
    0% {transform:rotate(0deg)}
    100% {transform:rotate(360deg)}
}